RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule .* index.php [L]
#RewriteRule ^(.*)/?([0-9]+) index.php?action=$1&id=$2 [L]
RewriteRule ^(.*)/?([0-9]*)? index.php?action=$1&id=$2 [L]